:root{
    --all-links: Inter;
}
body{
    margin: 0 auto;
    width: 90%;
}
/* img.ham {
    display: none;
} */
header{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    align-items: center;
}
div.left img{
    width: 4em;
}
div.right{
    align-items: center;
    display: flex;
}
/* div.right img{
    display: none;
} */
div.right a{
    text-decoration: none;
    /* color: #9a989d; */
    color:  hsl(236, 13%, 42%);
    padding: 10px;
    font-family: var(--all-links);
}
div.right a:hover{
    color: hsl(35, 77%, 62%);
}
p{
    font-size: 15px;
}
div.below{
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: stretch;

}
div.text h1{
    font-size: 4.5em;
    font-family: var(--all-links);
}
div.button p{
    font-size: x-large;
    font-family: var(--all-links);
}
div.section-left img{
    width: 52em;
}
div.section-right{
    background-color: hsl(240, 100%, 5%);
    height: 55em;
    width: 50em;
    padding: 0px 15px;
}
section.first{
    display: flex;
}
div.button button{
    background-color: #f15d52;
    border-width: 0px;
    border-color: none;
    padding: 20px 50px;
    cursor: pointer;
    font-size: medium;
    line-height: 1px;
}
div.button button:hover{
    background-color: hsl(240, 100%, 5%);
}
div.button button a{
    text-decoration: none;
    color: #fff;

}
div.section-right h3{
    color: #e0a355;
    font-size: xx-large;
    font-family: var(--all-links);
}
div.section-right a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-family: var(--all-links);
    font-weight: 900;
    font-size: larger;
}
div.section-right p{
    color:     hsl(233, 8%, 79%);
    font-family: var(--all-links);

}
div.image img{
    width: 7em;
    margin: 0px 7px;
}
div.PCs {
    display: flex;
    width: 24em;
    flex-shrink: 2;
}
div.sec h2{
    color: hsl(233, 8%, 79%);
    font-size: xx-large;
    margin: 10px 0px;
}
div.sec a{
    text-decoration: none;
    font-weight: 900;
    font-family: var(--all-links);
}
div.laptops{
    display: flex;
    width: 24em;
}
div.gaming{
    display: flex;
    width: 24em;
}
div.sec a:hover{
    color: #f15d52;
}
/* div.PCs::before{
    content: url(/pictures/image-retro-pcs.jpg);
} */
section.second{
    display: flex;
}
@media((min-width: 375px) and (max-width: 768px)){
    div.right nav{
        display: none;
    }
    /* div.right img{
        display: contents;
    } */
    section.first {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    div.below{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;  
    }
    div.section-left img{
        width: 28.5em;
    }
    div.text h1{
        font-size: 4em;
    }
    div.text{
        width: 30em;
    }
    div.button p{
        font-size: 1.2em;
    }
    div.button{
        width: 27em;
    }
    div.section-right{
        width: 18em;
        height: 25em;
        margin: -5em 0px 0px 0px;
    }
    section.second{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 10px;
        column-gap: 0px;
        margin: -30em 0px -10px;
    }
    /* img.ham {
        display: contents;
    } */
}